@model Psinder.Web.Models.User.UserDetailsModelView

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły konta</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="UserName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit">Edytuj</a>|
    <a asp-action="EditPassword">Zmiana hasła</a>|
    <a asp-action="Delete">Usuń konto</a>|
</div>
